{% extends "base.html" %}

{% block title %}
{% if single %}
	| {{ post.0.title }}	
{% else %}
    {% if tag %}
        | posts tagged under {{ tag }}
    {% endif %}
    {% if cat %}
        | ujjwal grover's {{cat}} posts
    {% else %}
        | ujjwal grover's blog       
    {% endif %}
{% endif %}
{% endblock %}

{% block keywords %}
{% if single %}
	{{ tags }}	
{% else %}
	ujj, ujjwal grover, hacking, tutorials, cricket ramblings, site, blog, technical profile, resume, tempostand, cricroar developer
{% endif %}
{% endblock %}

{% block description %}
{% if single %}
	{{ post.0.summary }}	
{% else %}
	Ujjwal Grover's official blog/site containing personal incidents, journeys, technical findings and his self proclaimed expert comments on the game he never learnt to play well enough (cricket).
{% endif %}

{% endblock %}

{% block content %}
<div id="main">

{% if single %}
<h2 class="posttitle">{{ post.0.title }}</h2> {{post.0.date}}
<span class="datetext">published: {{ publish_date.day}} / {{ publish_date.month}} / {{ publish_date.year}}</span>
<p>{{ post.0.text}}</p>
{% if tags %}
<p><span class="datetext">tagged under:</span> 
{% for tag in tags %}
<a href="/?t={{tag}}">{{tag}}</a>  
{% endfor %}
</p>
{% endif %}
<p><i><a href="/?i={{ post.0.content_id }}#disqus_thread"></a></i></p>
<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/ujj-laptop/embed.js"></script><noscript><a href="http://disqus.com/forums/ujj-laptop/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>


{% else %}
{% for post in posts %}
<h2 class="posttitle"><a class="posttitle" href="?i={{ post.content_id }}">{{ post.title }}</a></h2> {{ post.date}}
<p>{{ post.summary}} <a href="/?i={{ post.content_id }}">read full</a> </p>
<br/>
{% endfor %}
{% endif %}

{% if next %}
<div id="paginat">
{% if tag %}
<a href="/?bookmark={{next}}&t={{tag}}">older</a>
{% endif %} 
{% if cat %}
<a href="/?bookmark={{next}}&cat={{cat}}">older</a>
{% endif %} 
{% if tag %}
<a href="/?bookmark={{next}}&tag={{tag}}">older</a>
{% endif %}
{% if not cat and not tag %}
<a href="/?bookmark={{next}}">older</a>
{% endif %}
</div>
{% endif %}
</div>
{% endblock %}


